<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="container text-left p-3">
<div class="container text-center w-3">
  <h1 class="">{{session['username']}}、PyJongへようこそ！</h1>
</div>
<div class="container py-1 text-center">
  <button type="button" onclick="location.href='{{url_for('main.game')}}'" class="btn btn-secondary btn-lg btn-block px-3">ゲームを始めましょう</button>
</div>
<div class="container py-3">
  <h3 class="pb-2">友達リクエスト</h3>
  {% if session['new_requests'] %}
  <p class="">新しい友達のリクエストが届いていました！</p>
  <form class="" action="" method="POST">
    {{form_add.hidden_tag()}}
    {{form_add.select_friend(class='form-select')}}
    <div class="py-2">
    {{form_add.submit(class="btn btn-secondary btn-lg")}}
    </div>
  </form>
  {% else %}
  <p>新しいリクエストは届いていません。</p>
  {% endif %}
</div>

<div class="container py-3">
  <h3 class="pb-2">友達からの招待</h3>
  {% if  session['has_new_invites'] %}
  <form class="" action="" method="POST">
  {{accept_invite_form.hidden_tag()}}
  <div class="input-group">
  {{accept_invite_form.select_friend(class="form-select")}}
  {{accept_invite_form.submit(class="btn btn-outline-secondary")}}
  </div>
  </form>
  {% else %}
  <p>新しい招待が来ていません。</p>
{% endif %}
</div>

<div class="container py-3">
  <h3 class="pb-2">友達の情報</h3>
  <div class="row border bg-secondary">
    <div class="col">ユーザーネーム</div>
    <div class="col">局勝利数</div>
    <div class="col">ゲーム勝利数</div>
    <div class="col">獲得ポイント</div>
  </div>

  {% for row in session['friend_stats'] %}
<div class="row border">
  {% for cell in row %}
    <div class="col bg-dark">{{cell}}</div>
    {% endfor %}
</div>
  {% endfor %}
</ul>
</div>

<div class="container py-3">
<h3 class="pb-2">友達リクエストを送りましょうか？</h3>
<form class="" action="" method="POST">


{{form_req.hidden_tag()}}
<div class="input-group py-2">
{{form_req.username(class="form-control",placeholder="username123")}}
{{form_req.submit(class="btn btn-secondary btn-sm")}}
</div>

</div>
</form>
{% if session['has_friends'] %}
<form class="p-2" action="" method="POST">
<h5 class="pt-3">友達を削除：</h5>
  <div class="input-group py-2">
    {{form_delete.hidden_tag()}}
    {{form_delete.select_friend(class="form-control")}}
    {{form_delete.submit(class="btn btn-danger btn-sm")}}

  </div>
</form>
{% else %}
{% endif %}

<p class="relative-bottom p-3 text-muted">注意：招待と友達リクエストはログアウトする時に消えるので、ログアウトする前にしっかり確認してくださいね。</p>



</div>


{% endblock %}
