<!DOCTYPE html>
 <html lang="en" dir="ltr">


<head>
  <title>Game Chat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha512-PU5S6BA03fRv1Q5fpwXjg5nlRrgdoguZ74urFInkbABMCENyx5oP3hrDzYMMPh3qdLdknIvrGj3yqZ4JuU7Nag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

          <script type="text/javascript" charset="utf-8">
              var socket;
              $(document).ready(function(){
                  socket = io.connect('http://127.0.0.1:5000/main/game');
                  socket.on('connect', function() {
                      socket.emit('joined', {});
                      console.log('connected');
                  });
                  socket.on('status', function(data) {
                      $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                      console.log('status func')
                  });
                  socket.on('message', function(data) {
                      $('#chat').val($('#chat').val() + data.msg + '\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                      console.log('message func')
                  });
                  $('#text').keypress(function(e) {
                      var code = e.keyCode || e.which;
                      console.log('keypress')
                      if (code == 13) {
                          text = $('#text').val();
                          $('#text').val('');
                          socket.emit('text', {msg: text});
                          console.log('emit text',text)

                      }
                  });
              });
              function leave_room() {
                  socket.emit('left', {}, function() {
                      socket.disconnect();

                      // go back to the friends page
                      window.location.href = "{{ url_for('main.friends') }}";
                  });
              }
          </script>
      </head>
      <body>
          <h1>Flask-SocketIO-Chat: {{ session['room'] }}</h1>
          <textarea id="chat" cols="80" rows="20"></textarea><br><br>
          <input id="text" size="80" placeholder="Enter your message here"><br><br>
          <a href="#" onclick="leave_room();">Leave this room</a>
      </body>
  </html>
