{% extends "base.html" %}

{% block content %}

{% if session['in_room'] == True %}
<!-- MahJong -->








<!-- Chat room  -->
          <script type="text/javascript" charset="utf-8">
              var socket;
              $(document).ready(function(){
                  socket = io.connect('http://127.0.0.1:5000/main/game');
                  socket.on('connect', function() {
                      socket.emit('joined', {});
                      console.log('connected');
                  });
                  socket.on('status', function(data) {
                      $('#chat').val($('#chat').val() + '・' + data.msg + '\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                      console.log('status func')
                  });
                  socket.on('message', function(data) {
                      $('#chat').val($('#chat').val() + data.msg + '\n');
                      $('#chat').scrollTop($('#chat')[0].scrollHeight);
                      console.log('message func')
                  });
                  $('#text').keypress(function(e) {
                      var code = e.keyCode || e.which;
                      console.log('keypress')
                      if (code == 13) {
                          text = $('#text').val();
                          $('#text').val('');
                          socket.emit('text', {msg: text});
                          console.log('emit text',text)

                      }
                  });
              });
              function leave_room() {
                  socket.emit('left', {}, function() {
                      socket.disconnect();

                      // go back to the friends page
                      window.location.href = "{{ url_for('main.friends') }}";
                  });
              }
          </script>
      </head>
        <div class="container py-3">
          <h1>PyJongチャットルーム</h1>
          <h5 class="pt-1">ルーム名： {{ session['room'] }}</h5>
        </div>
        <div class="form-floating px-5">
          <div class="pt-2">
            <textarea class="form-control" style="height: 300px" id="chat" rows="20"></textarea>
          </div>
          <div class="pt-2 pb-5">
            <input class="form-control" id="text" placeholder="エンターキーを押して送信">
          </div>
          <div class="float-end">
            <button type="button" onclick="leave_room();" class="btn btn-outline-warning">チャットルームを大会する</button>
          </div>
        </div>
{% else %}

{% if session['has_friends'] %}

<div class="container">
  <h1>友達を誘ってチャットを始めましょう！</h1>
  <form class="" action="" method="POST">
  {{form.hidden_tag()}}
  {{form.select_friend.label}}{{form.select_friend}}
  {{form.room_name.label}}{{form.room_name}}
  {{form.submit}}
  </form>
</div>

{% else %}

{% endif %}
{% endif %}




{% endblock %}
