{% extends "base.html" %}

{% block content %}

<div class="container p-3 pb-5">
  <p class="lead">PyJongは、PythonとJavaScriptで開発された、無料麻雀アプリです。</p>
  <div class="px-2">

    <p>このWEBアプリを開発するために、Flask、Flask-SocketIO、SQLAlchemyを使わせていただきました。</p>
    <p>シンプルで使いやすい麻雀アプリが最近なかなか見つからないことがきっかけで、最初はPythonのJypter Notebookで使えるように開発したのち、携帯、パソコン等でも
    友達と対戦できるようにしたいという思いがあって、開発に着手した背景があります。</p>
    <p>その中でとても難しかったのはFlask-SocketIOの導入でした。開発者のMiguel Grinburgさんの説明文と例文を参考にしてなんとかサーバーからページを更新せずに
      写真と文字の情報通信ができるようになり、また二人で対戦できるようにもなりました。</p>
    <p>もう一つ大きく問題だったのは、麻雀アプリの移植に伴うコードの書き換えでした。Webアプリにするに当たって、サーバーが同時にいくつもののゲームを同時進行できるように
    開発する必要があり、さまざまな工夫があります。</p>
    <p>素人ながら努力した成果物ですので、楽しく遊んでいただければと思います。</p>
    <p>本ページの開発者は主に勉強目的に作業していたもので、バグがまだ多くあり、特に点数計算に問題が多発するので、お許しください。</p>
    <a href="https://github.com/inoueaus/pymahjong" class="link-light">報告したい問題があったら、GithubでIssueをあげていただければと思います。</a>
  </div>


</div>

{% endblock %}
