<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>PyJong</title>

    <!-- google font imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">

    <!-- javascript/socketio imports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha512-PU5S6BA03fRv1Q5fpwXjg5nlRrgdoguZ74urFInkbABMCENyx5oP3hrDzYMMPh3qdLdknIvrGj3yqZ4JuU7Nag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- bootstrap imports -->
    <link href="https://storage.cloud.google.com/pyjong.appspot.com/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">PyJong</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link active" href="{{url_for('logout')}}">ログアウト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('main.game')}}">ゲーム</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link active" href="{{url_for('authentication.login')}}">ログイン</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('authentication.signup')}}">登録</a>
        </li>
        {% endif %}



        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.info')}}">PyJongについて</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

{% with messages = get_flashed_messages(with_categories=True) %}
 {% if messages %}
 {% for category,message in messages %}
 <div class="alert {{ category }} alert-dismissible fade show" role="alert">
 {{message}}
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

  {% block content %}

  {% endblock %}

  <div class="my-3">
  <footer class="footer mt-auto mu-5 bg-light fixed-bottom">
    <div class="container p-1 text-center">
      <a href="https://github.com/inoueaus/pymahjong">Github</a>
    </div>
  </footer>
    </div>
  </body>
</html>
