<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container text-center pt-2">
  <h1 class="px-3">PyJongへようこそ！</h1>
</div>


<div class="container py-3 px-5 text-center">
  <p class="lead">PyJongは、PythonとJavaScriptで開発された、無料麻雀アプリです。</p>
</div>
  <p class="text-center">
  <a href="{{url_for('authentication.login')}}" class="btn btn-secondary my-2 mx-1">ログインのページはこちら</a>
  <a href="{{url_for('authentication.signup')}}" class="btn btn-secondary my-2 mx-1">新しいメンバーは新規登録へ</a>
  </p>

</div>
<div class="container pt-2 pb-5">
  <h3>ユーザーの近況：</h3>
  <ul class="list-group pt-1">
    {% for update in game_updates.items %}
    <li class="list-group-item bg-secondary text-white">
      <small>{{update.date.strftime('%D %H:%M:%S')}}</small>
      <br>
      <p>{{update.text}}</p>
    </li>
    {% endfor %}
  </ul>

</div>

{% endblock %}
