<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PyMahJong</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/bootstrap.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">PyJong</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if session['authenticated'] %}
        <li class="nav-item">
        <a class="nav-link active" href="{{url_for('logout')}}">ログアウト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('friends')}}">友達</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('game')}}">ゲーム</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link active" href="{{url_for('login')}}">ログイン</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('signup')}}">登録</a>
        </li>
        {% endif %}



        <li class="nav-item">
          <a class="nav-link" href="#">PyJongについて</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>

{% with messages = get_flashed_messages(with_categories=True) %}
 {% if messages %}
 {% for category,message in messages %}
 <div class="alert {{ category }} alert-dismissible fade show" role="alert">
 {{message}}
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

  {% block content %}

  {% endblock %}

  <div class="my-3">
  <footer class="footer mt-auto mu-5 bg-light fixed-bottom">
    <div class="container p-1 text-center">
      <span class="text-muted">Mahjong Delivered to you by Python</span>
    </div>
  </footer>
    </div>
  </body>
</html>
