<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container p-3">
  <h1>友達の状況を確認しましょう！</h1>
</div>

<div class="container py-3">
  <h3 class="pb-2">友達リクエスト</h3>
  {% if session['new_requests'] %}
  <p>新しい友達のリクエストが届いていました！</p>
  <form class="" action="" method="POST">
    {{form_add.hidden_tag()}}
    {{form_add.select_friend}}
    {{form_add.submit}}
  </form>
  {% else %}
  <p>新しいリクエストは届いていません。</p>
  {% endif %}
</div>

<div class="container py-3">
  <h3 class="pb-2">友達からの招待</h3>
  {% if  session['has_new_invites'] %}

  {% else %}
  <p>新しい招待が来ていません。</p>
{% endif %}
</div>

<div class="container py-3">
  <h3 class="pb-2">友達の情報</h3>
{% if session['has_friends'] %}
<ul>
  {% for friend in session['friends'] %}
  <li>{{friend}}</li>
  {% endfor %}
</ul>

{% else %}
<p>現在、友達は追加していないようです。</p>
{% endif %}
</div>

<div class="container py-3">
<h3 class="pb-2">友達リクエストを送りましょうか？</h3>
<form class="" action="" method="POST">


{{form_req.hidden_tag()}}
<div class="py-2">
{{form_req.username.label(class="form-label")}}{{form_req.username(class="form-control",placeholder="username123")}}
</div>
{{form_req.submit(class="form-control")}}
</div>
</form>

<p class="relative-bottom p-3 text-muted">注意：招待と友達リクエストはログアウトする時に消えるので、ログアウトする前にしっかり確認してくださいね。</p>
{% endblock %}
