<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container p-3">
  <h1 class="text-center">Login Page</h1>
</div>


<form class="col-auto mx-5 pb-3" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">ユーザーネーム：</label>
    {{form.username(class="form-control",id="exampleInputEmail1",placeholder="username123")}}
    <div id="emailHelp" class="form-text"><a href="{{url_for('signup')}}">Or create an account.</a></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">パスワード：</label>
    {{form.password(class="form-control",id="exampleInputPassword1",placeholder="Password")}}
  </div>
  {{form.submit(class="btn btn-primary")}}
</form>



{% endblock %}
