<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container text-center p-3 mx-auto">
  <h1>登録しましょう！</h1>
  <p>すぐにPyMahjongのコミュニティーに入れるよー！</p>
</div>

{% if errors != False %}
<div class="text-left px-5">
  <p class="font-italic text-danger">フォームに問題があったようです。ご確認ください。</p>
  <ul>
    {% for error in error %}
    <li class="font-italic text-danger">{{error}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form class="col-auto mx-5 pb-3" method="POST">
  {{form.hidden_tag()}}
  <div class="form-row">
    <div class="form-group col-md-6  py-2">
      <label for="inputEmail4">メール</label>

      {{form.email_address(class="form-control",placeholder="mail@email.com")}}
    </div>
    <div class="form-group col-md-6  py-2">
      <label for="inputPassword4">パスワード</label>
      {{form.password(class="form-control",placeholder="password123")}}
    </div>
    <div class="form-group col-md-6  py-2">
      <label for="inputusername">ユーザーネーム</label>
      {{form.username(class="form-control",placeholder="username123")}}
      <div class="px-3 py-2">
        <small id="passwordHelpBlock" class="form-text text-muted">
          ユーザーネームには小文字、大文字をそれぞれに一つ、そして最後に数字で終わる必要があります。そして、英数字のみお使いください。
        </small>
      </div>

    </div>
  </div>
  <div class="py-4">
    {{form.submit(class="btn btn-primary")}}
  </div>

</form>


{% endblock %}
